@model Carreteras.Models.tb_roles

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
	 <div class="ibox-content">

        <div class="form-horizontal">
            <h4>tb_roles</h4>
            <hr />

            <div class="container">
                <div class="row">
                    <div class="form-group">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="col-md-1">
                            @Html.LabelFor(model => model.rol_id, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.rol_id, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.rol_id, "", new { @class = "text-danger" })
                        </div>




                        <div class="col-md-offset-3">
                            @Html.LabelFor(model => model.rol_descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                        <div class="col-md-4">
                            @Html.EditorFor(model => model.rol_descripcion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.rol_descripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
            </div>
            

            <fieldset>
                <div class="col-md-offset-4">
                    <div class="col-md-6">

                        <legend>Pantallas</legend>
                        <div class="col-md-offset-5">
                            <input id="checkbox1" type="checkbox">
                            <label for="checkbox1">
                                Carretera
                            </label>
                        </div>

                        <div class="col-md-offset-5">
                            <input id="checkbox1" type="checkbox">
                            <label for="checkbox1">
                                Tramo
                            </label>
                        </div>

                        <div class="col-md-offset-5">
                            <input id="checkbox1" type="checkbox">
                            <label for="checkbox1">
                                Cómuna
                            </label>
                        </div>

                        <div class="col-md-offset-5">
                            <input id="checkbox1" type="checkbox">
                            <label for="checkbox1">
                                Departamento
                            </label>
                        </div>

                        <div class="col-md-offset-5">
                            <input id="checkbox1" type="checkbox">
                            <label for="checkbox1">
                                Ciudad
                            </label>
                        </div>

                    </div>
                </div>
            </fieldset>

        </div>
         <div>

         </div>
      		

       
                        <div class="form-group">
                            <div class="col-md-offset-10 col-md-10">
                                <input type="submit" value="Guardar" class="btn btn-success  " />
                                @Html.ActionLink("Cancelar", "Index", null, new { @class = " btn btn-default" })
                            </div>
                        </div>
                    </div>
                    
             
                }

