@model Carreteras.Models.tb_categorias

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
	 <div class="ibox-content">

    <div class="form-horizontal">
        <h4>tb_categorias</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.cat_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cat_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cat_id, "", new { @class = "text-danger" })
            </div>
        </div>
		

        <div class="form-group">
            @Html.LabelFor(model => model.cat_descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cat_descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cat_descripcion, "", new { @class = "text-danger" })
            </div>
        </div>
		

        <div class="form-group">
            @Html.LabelFor(model => model.cat_usuario_crea, "cat_usuario_crea", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cat_usuario_crea", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.cat_usuario_crea, "", new { @class = "text-danger" })
            </div>
        </div>
		

        <div class="form-group">
            @Html.LabelFor(model => model.cat_fecha_crea, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cat_fecha_crea, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cat_fecha_crea, "", new { @class = "text-danger" })
            </div>
        </div>
		

        <div class="form-group">
            @Html.LabelFor(model => model.cat_usuario_modifica, "cat_usuario_modifica", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cat_usuario_modifica", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.cat_usuario_modifica, "", new { @class = "text-danger" })
            </div>
        </div>
		

        <div class="form-group">
            @Html.LabelFor(model => model.cat_fecha_modifica, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cat_fecha_modifica, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cat_fecha_modifica, "", new { @class = "text-danger" })
            </div>
        </div>
		

        <div class="form-group">
            @Html.LabelFor(model => model.cat_estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.cat_estado)
                    @Html.ValidationMessageFor(model => model.cat_estado, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
		

        <div class="form-group">
            <div class="col-md-offset-10 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success  " /> 
				 @Html.ActionLink("Cancelar", "Index",null,new { @class = " btn btn-default" })
            </div>
        </div>
  </div>
    </div>
}

