@model Carreteras.Models.tb_categorias

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="col-md-offset-5"> <b>Detalles Categoria</b></h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cat_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cat_descripcion)
        </dd>
    </dl>
</div>
@*Auditoria*@
<div class="col-md-8 col-sm-offset-1">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Acción</th>
                <th>Usuario</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Crea</td>
                <td>@Html.DisplayFor(model => model.tb_usuarios.usu_descripcion)</td>
                <td>@Html.DisplayFor(model => model.cat_fecha_crea)</td>

            </tr>
            <tr>
                <td>Modifica</td>
                <td>@Html.DisplayFor(model => model.tb_usuarios1.usu_descripcion)</td>
                <td>@Html.DisplayFor(model => model.cat_fecha_modifica)</td>

            </tr>
        </tbody>
    </table>
</div>
<div class="col-md-12">
    <div class="col-md-offset-8">
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.cat_id }, new { @class = "btn btn-success  " }) |
            @Html.ActionLink("Cancelar", "Index", null, new { @class = " btn btn-default" })
        </p>
    </div>
</div>

