@model Carreteras.Models.tb_pantallas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h2>Pantallas</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Pantalla
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pant_descripcion)
        </dd>





        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pant_estado)
        </dd>



    </dl>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Accion </th>
                <th> Usuario </th>
                <th> Fecha</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Crea</td>
                <td>  @Html.DisplayFor(model => model.pant_usuario_crea) </td>
                <td>@Html.DisplayFor(model => model.pant_fecha_crea) </td>


            </tr>
            <tr>
                <td>Modifica</td>
                <td>  @Html.DisplayFor(model => model.pant_usuario_crea) </td>
                <td>@Html.DisplayFor(model => model.pant_fecha_crea) </td>


            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controls-modal="your_div_id" data-backdrop="static" data-keyboard="false" href="#">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Editar Registro</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">

                        <article><input type="text" class="form-control" id="formGroupExampleInput" placeholder="Codigo Pantalla"></article>
                    </div>
                    <br> <br>
                    <div class="form-group">
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Descripcion Pantalla">
                    </div>
                    <br> <br>
                    <div class="form-group">
                        <div class="dropdown">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Estado
                            </button>
                            <div class="dropdown-menu">
                                <h4><a class="dropdown-item" href="#">Activo</a></h4>
                                <br />
                                <h4><a class="dropdown-item" href="#">Inactivo</a></h4>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success toolbar-item" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>
<p>
    <button type="button" class="btn btn-success  " data-toggle="modal" data-target="#exampleModal2">
        Editar
    </button>
    @*@Html.ActionLink("Editar", "Edit", new { id = Model.pant_id }, new { @class = "btn btn-success  " }) |*@
    @Html.ActionLink("Cancelar", "Index", null, new { @class = " btn btn-default" })
</p>
